:root{

    /* ==========================
       COLOR PALETTE
    ========================== */

    --primary:#A855F7;
    --primary-dark:#7C3AED;

    --secondary:#EC4899;

    --blue:#3B82F6;
    --green:#22C55E;
    --orange:#F97316;
    --red:#EF4444;
    --yellow:#FACC15;

    /* ==========================
       BACKGROUND
    ========================== */

    --bg:#050816;

    --bg-dark:#0F172A;

    --bg-card:rgba(255,255,255,.05);

    --bg-navbar:rgba(15,23,42,.55);

    /* ==========================
       TEXT
    ========================== */

    --text:#FFFFFF;

    --text-secondary:#94A3B8;

    /* ==========================
       BORDER
    ========================== */

    --border:rgba(255,255,255,.08);

    /* ==========================
       SHADOW
    ========================== */

    --shadow:
    0 8px 35px rgba(168,85,247,.25);

    /* ==========================
       RADIUS
    ========================== */

    --radius:22px;

    /* ==========================
       TRANSITION
    ========================== */

    --transition:.3s ease;

}